<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; CampStay 2021</span>
        <span class="mt-auto text-white float-md-right" > Made By Umang &#10084;</span>
    </div>
</footer>